*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 55px;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}

h2 {
  
    text-decoration:underline;
    padding: 10px 0px;
}


 h2, p {
    color: blueviolet;
}

button {
    min-width: fit-content;
    width: 100px;
    border-radius: 40px;
}

button:hover {
    cursor: pointer;
    background-color: purple
}